.project-name {
    font-weight: bold;
    margin: 10px; 
}

.project-notes {
    margin-top: 20px; 
    margin-bottom: 10px;
    margin-left: 10px;
}

.link, .dates, .newNote, .listProject{
    margin-left:10px;
}

.count{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: x-large;
    margin-top: 5px;
}

.countName{
    margin-top: 75px;
    text-align: center;
    font-size: x-large;
}

.deleteButton, .completeButton {
    margin-top: 100px;
}

.buttonDiv{
    display: flex;
    justify-content: space-around;
    margin: 100px 0 50px 0;
}

.linkButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linkPattern {
    margin-bottom: 25px;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 20px;
}

.mainDiv{
    text-align: center;
}

.plus, .minus, .sectionCount{
    height: 100px;
    width: 100px;
    font-size: xx-large;
}

.link{
    color: white
}

.img{
    width: 50%; 
    margin-top: 15px;
    border: #485fc7;
    padding: 5px;
}

.buttonStart{
    text-align: center;
}

.inspHeader{ 
    font-weight: bold;
    margin-top: 10px;
}

#edit-button, #delete-button{
    margin-left: 10px;
    
}

.column{
    margin-top: 20px;
    text-align: center;
}


.columnHeader{
    font-weight: 600;
}

#currentProjects, #completeProjects{
    margin-bottom: 25px;
}

#completeIMGCard, #completeProjectCard{
    max-width: 500px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    margin-bottom: 20px;
}
