@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.navbar__logout {
    margin-left: auto;
    
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    /* color: white;  */
    margin-left: 10px;
}

.logo{
    margin-top: 10px;
    width: 200px; 
}

.navbar-link{
    margin-left: 25px;
    color:white;
}

#white{
    color: white;
}
